<!DOCTYPE html><!-- EN USO-->
<html lang="en">
<link href="/css/stylesProductCreate.css" rel="stylesheet" type="text/css">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>
      <form action="/products" method="POST" enctype="multipart/form-data">


        <div class="caja-form">
          <h2 class="titulo">Crear publicacion de producto</h2>

          <div class="campos">
            <label for="nombreProduct" class="smallHeader"> Nombre</label>
            <input type="text" name="name" id="" />
          </div>
          <div class="campos">
            <label for="description" class="smallHeader"> Descripcion de product</label>
            <input type="text" name="description" id="" />
          </div>

          <div class="campos">
            <label for="imageProduct" class="smallHeader">Imagen</label><input type="file" name="image"
              id="image" class="form-input">
          </div>
          <div class="campos">
            <label for="categoryProduct" class="smallHeader">Categoria</label><select name="category_id"
              id="">
              <% categories.forEach(category=> { %>
                <option value=<%= category.id %> > <%=category.name%>
                </option>
                <% })%>
            </select>
          </div>
          
          <div class="campos">
            <label for="description" class="smallHeader"> Color</label>
            <input type="text" name="color" id="" />
          </div>

          <div class="campos">
            <label for="precioProduct" class="smallHeader"> Precio</label>
            <input type="number" name="price" id="" min="1" step="any" />
          </div>




          <div class="campos">
            <input class="crear" type="submit" value="Crear">
          </div>
        </div>
      </form>
      <%- include("./partials/footer") %>
  </body>

</html>