<!DOCTYPE html><!--EN USO-->
<html lang="en">
    <link href="/css/stylesProductCreate.css" rel="stylesheet" type="text/css">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    
      <main></main>
      <form action="/products/edit/<%= productToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
    <div class="caja-form">
      <h2 class="titulo">Editar publicacion de producto</h2>

      <div class="campos">
        <label for="nombreProduct" class="smallHeader"> Nombre de producto</label>
        <input type="text" name="name" id="" value="<%= productToEdit.name %>">
         
      </div>

       


      <div class="campos">
        <label for="description" class="smallHeader"> Descripcion de producto</label>
        <input type="text" name="description" id="" value="<%= productToEdit.description %>"/>
      </div>
       <div class="campos">
        <label for="imageProduct" class="smallHeader">Imagen del producto</label
        ><input type="file" name="imageProduct" accept="jpg, jpeg" multiple />
      </div> 

      
      <h6>Categoria Actual</h6>
      <p><%= productToEdit.category %></p>
      <div class="campos">
        <label for="categoryProduct" class="smallHeader"></label
        ><select name="category" id="">

          
          
          <option value="">Cambiar por otra categoría</option>
          <option value="pollera">Pollera</option>
          <option value="pantalon">Pantalon</option>
          <option value="camisa">Camisa</option>
          <option value="remera">Remera</option>
          <option value="sweater">Sweater</option>
          <option value="accesorios">Accesorios</option>



        </select>
      </div>

      

      
      <div class="campos">
<!--         <label for="" class="smallHeader">Seleccionar talles disponibles</label>
        <input type="checkbox" name="talleS" /><label for="talleS"
          >Talle S</label
        >
        <input type="checkbox" name="talleM" /><label for="talleS"
          >Talle M</label
        >
        <input type="checkbox" name="talleL" /><label for="talleS"
          >Talle L</label
        >
        <input type="checkbox" name="talleXL" /><label for="talleS"
          >Talle XL</label
        >
      </div> 
      <div class="campos">
        <label for="" class="smallHeader">Seleccionar colores disponibles</label>
        <input type="checkbox" name="colorBlue" /><label for="colorBlue"
          >Azul</label
        >
        <input type="checkbox" name="colorGreen" /><label for="colorGreen"
          >Verde</label
        >
        <input type="checkbox" name="colorPink" /><label for="colorPink"
          >Rosa</label
        >
        <input type="checkbox" name="colorWhite" /><label for="colorWhite"
          >Blanco</label
        >
      </div> -->
      <div class="campos">
        <label for="precioProduct" class="smallHeader"> Precio del producto</label>
        <input type="number" name="price" id="" value=<%= productToEdit.price %>>
      </div>


      <div class="campos">
        <label for="description" class="smallHeader"> Producto destacado</label>
        <input type="checkbox" name="destacado" id="" />
      </div>


      
      <div class="campos">
        <!--<input class="crear" type="submit" value="Modificar">  -->
        <button type="submit" class="crear">Guardar Cambios</button>

    </div>
    </div>
  </form>
  <%- include("./partials/footer") %>
</body>
</html>
