<!DOCTYPE html> <!-- EN USO-->
<html lang="en">
<link href="/css/stylesProductCreate.css" rel="stylesheet" type="text/css">

<%- include("./partials/head") %>

  <body>
    <!-- Header -->

    <%- include("./partials/header") %>

      <div class="caja-form">

        <h2 class="titulo">¡Hola! <br> Ingresá tu usuario y contraseña</h2>

          <form action="/users/login" method="POST">
            <div class="campos">
              <label for="nombre"> Email</label>
              <input type="text" name="email" id="">
            </div>
            <div class="campos">
              <label for="nombre"> Contraseña</label>
              <input type="password" name="password" id="">
            </div>
            <div class="campos">
              <input class="boton" type="submit">
            </div>
          </form>

        <form action="/users/login" method="POST">
          <div class="campos">
            <label>Email</label>
						<input type="text" name="email" id="" value = "<%= locals.oldData ? oldData.email : null %>"/>
						<% if (locals.errors && errors.email) { %>
							<div class="errores">
								<%= errors.email.msg %>
							</div>
						<% } %>
          </div>


          <div class="campos">
            <label>Contraseña</label>
						<input type="password" name="password" id="" value = "<%= locals.oldData ? oldData.password : null %>"/>
						<% if (locals.errors && errors.password) { %>
							<div class="errors">
								<%= errors.password.msg %>
							</div>
						<% } %>
          </div>


          <div class="campos">
            <input class="boton" type="submit">
          </div>
        </form>
        
        <div class="olvide-y-crear">
          <a href="/users/reestablecer">
            <p class="letra-olvide">Olvide mi contraseña</p>
          </a>
          <a href="/users/create">
            <p class="letra-olvide der">Crear cuenta</p>
          </a>
        </div>

      </div>





      <!-- footer -->

      <%- include("./partials/footer") %>


  </body>

</html>