<!DOCTYPE html>
<!--EN USO-->
<html lang="en">
<link href="/css/stylesProductCreate.css" rel="stylesheet" type="text/css">
<%- include("./partials/head") %>

  <body>
    <%- include("./partials/header") %>

      <main>
        <div class="caja-form">

          <h2 class="titulo">Editar informacion de Usuario DB</h2>
          <form action="/users/edit/<%= user.id %>?_method=PATCH" method="POST" enctype="multipart/form-data" id= "formulario">

            <!-- VALIDACION FRONT-END -->
            <%- include("./partials/valEditUser") %> 
            <!-- VALIDACION FRONT-END -->

            <div class="errors">
              <ul id="nameErrors"></ul>
              <ul id="lastNameErrors"></ul>
              <ul id="emailErrors"></ul>
              <ul id="passwordErrors"></ul>
              <ul id="avatarErrors"></ul>

            </div>

            <div class="campos">
              <label for="nombreUsuario" class="smallHeader"> Nombre de Usuario</label>
              <input type="text" name="name" id="name" value="<%= user.name %>">
            </div>

            <div class="campos">
              <label for="apellidoUsuario" class="smallHeader"> Apellido del Usuario</label>
              <input type="text" name="last_name" id="last_name" value="<%= user.last_name %>">
            </div>

            <div class="campos">
              <label for="emailUsuario" class="smallHeader"> Email del Usuario</label>
              <input type="text" name="email" id="email" value="<%= user.email %>">
            </div>

          

            <div class="campos">
              <label for="imageUser" class="smallHeader">Imagen del Usuario</label><input type="file" id="avatar" name="avatar"
                accept="jpg, jpeg" multiple />
            </div>

            <div class="campos">
              <button type="submit" class="crear">Guardar Cambios</button>
            </div>

          </form>
          
        </div>
      
      </main>

    <%- include("./partials/footer") %>

  </body>

</html>