<!DOCTYPE html><!-- EN USO-->
<html lang="en">
<link href="/css/stylesProductCreate.css" rel="stylesheet" type="text/css">

<%- include("./partials/head") %>

	<body>
		<%- include("./partials/header") %>
			

			<main>
				<div class="caja-form">

					<h2 class="titulo">¡Te damos la bienvenida a Clothx!</h2>
					<h3>Creá tu cuenta!</h3>
					
					<!-- VALIDACION FRONT-END -->
					<%- include("./partials/valRegister") %> 
					<!-- VALIDACION FRONT-END -->

					<div class="errors">
						<ul id="nameErrors"></ul>
						<ul id="lastNameErrors"></ul>
						<ul id="emailErrors"></ul>
						<ul id="passwordErrors"></ul>
						<ul id="avatarErrors"></ul>

					</div>

					<form action="/users" method="POST" enctype="multipart/form-data" id= "formulario">
						
						<div class="campos">	
							<label>Nombre</label>
							<input type="text" name="name" id="name" value = "<%= locals.oldData ? oldData.name : null %>"/>
							<% if (locals.errors && errors.name) { %>
								<div class="errors">
									<%= errors.name.msg %>
								</div>
							<% } %>
							
						</div>

						<div class="campos">	
							<label>Apellido</label>
							<input type="text" name="last_name" id="last_name" value = "<%= locals.oldData ? oldData.last_name : null %>"/>
							<% if (locals.errors && errors.last_name) { %>
								<div class="errors">
									<%= errors.last_name.msg %>
								</div>
							<% } %>
							
						</div>

						<div class="campos">	
							<label>Email</label>
							<input type="text" name="email" id="email" value = "<%= locals.oldData ? oldData.email : null %>"/>
							<% if (locals.errors && errors.email) { %>
								<div class="errors">
									<%= errors.email.msg %>
								</div>
							<% } %>
							
						</div>

						<div class="campos">	
							<label>Contraseña</label>
							<input type="password" name="password" id="password" value = "<%= locals.oldData ? oldData.password : null %>"/>
							<% if (locals.errors && errors.password) { %>
								<div class="errors">
									<%= errors.password.msg %>
								</div>
							<% } %>
							
						</div>

						<div class="campos">		
							<div><label for="avatar" class="smallHeader">Imagen de Perfil</label>
								<input type="file" name="avatar" id="avatar" class="form-input" value = "<%= locals.oldData ? oldData.avatar : null %>"/>
								<% if (locals.errors && errors.avatar) { %>
									<div class="errors">
										<%= errors.avatar.msg %>
									</div>
								<% } %>
							</div>
							
						</div>
				
						<br>
						<p class="">Al presionar Crear aceptás los <a href='/tyc'>Términos y Condiciones</a>.</p>
					
						<div class="campos">
							<button type = "submit" class ="boton"> Crear </button>
						</div>

					</form>
						

				

				</div>
			
			</main>
		<%- include("./partials/footer") %>
		

	</body>

</html>